<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUtilExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64EAFED41D631A9500F3B70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EAFEEB1D631A9500F3B70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EAFEF61D631A9500F3B70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
